<% provide(:title, 'About') %>
<h1>About</h1>
<p>
The <b>ProofreadIt!</b> platform provides the capability for the creative fiction writers to cooperate and help each other in proofreading their works.
<br/><br/>Version: 1.0
<br/><br/>Developer: Andrey Shevyakov
</p>
