<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
<b>Table of Contents:</b><br/>
<ul class="np help-p">
<li><a href="#concept">Concept</a></li>
<li><a href="#user-profile">User Profile</a></li>
<li><a href="#adding-texts">Submitting Texts</a></li>
<li><a href="#editing-texts">Editing Texts</a></li>
<li><a href="#administering-texts">Administering Texts</a></li>
<li><a href="#search-methods">Search Methods</a></li>
<li><a href="#banning-system">Ban System</a></li>
<li><a href="#contacts">Contacts</a></li>
</ul>
</p>

<span class="helph" id="concept">Concept</span>
<p class="help-p">
The <b>ProofreadIt!</b> platform provides the capability for the creative fiction writers to cooperate and help each other in proofreading their works.
</p>

<span class="helph" id="user-profile">User Profile</span>
<p class="help-p">
From the <b>User Profile</b> page, you can submit new texts, view the previously submitted texts, see how many submissions you have got left, and search for others' texts. In order to access the <b>User Profile</b>
page, click the <b>Account</b> link located at the navigation bar on top of the page and then select the <b>Profile</b> option.
</p>

<span class="helph" id="adding-texts">Submitting Texts</span>
<p class="help-p">
In order to add new text, click the <b>Add Text</b> button located at the <b>User Profile</b> page. You will be redirected shortly to the <b>Add Text</b>
 page. Enter the tags separated by commas into the <b>Tags</b> entry field and enter the text into the <b>Text</b> entry field. Now, click the <b>Submit</b> 
 button. You will be redirected shortly to the editing page for the newly submitted text.
 <br/><br/>
 It is important to remember that you will not be able to add any texts if you are out of submission tokens. You will earn one submission token each time
  your proofreading work was deemed satisfactory by the text's author. 
</p>

<span class="helph" id="editing-texts">Editing Texts</span>
<p class="help-p">
At the <b>Text Correction</b> page you can edit the submitted text if it is unlocked for corrections, rate the text (1 to 5 stars), and leave comments. 
When you are done editing the text, click the <b>Save Changes</b> button.
</p>

<span class="helph" id="administering-texts">Administering Texts</span>
<p class="help-p">
At any time, you can lock any of your submitted texts from further editing by clicking the <b>Lock Editing</b> button at the text's page. 
In the same manner, you can unlock any of your submitted texts by clicking the <b>Allow Editing</b> button at the locked text's page. 
You can also delete any of your submitted texts by clicking the <b>Delete Text</b> button at the text's page.<br/><br/>
It is important that you do not forget to rate the work done by your proofreaders. The rating options (Yes | No) will appear at the text's page if someone has 
edited your text.
</p>

<span class="helph" id="search-methods">Search Methods</span>
<p class="help-p">
There are two ways in which you can search texts: via the search bar or by tag.<br/><br/>
The search bar can be found at the <b>User Profile</b> page.<br/><br/>
In order to list all tags, click the <b>Proofread Text</b> button at the <b>User Profile</b> page. You will be redirected shortly to the <b>Tags</b> page, 
listing all the tags. Click on the tag describing the text you are looking for or would be interested in proofreading. You will be redirected shortly to the 
<b>Texts by Tag</b> page where all texts described by the selected tag will be listed. Select the text you are looking for or would be interested in proofreading. 
You will be shortly redirected to the text editing page. 
</p>

<span class="helph" id="banning-system">Ban System</span>
<p class="help-p">
The website automatic ban system is based on the 3-strike rule. If your proofreading quality is deemed unsatisfactory three times in a row, you are automatically 
banned for a week.
</p>

<span class="helph" id="contacts">Contacts</span>
<p class="help-p">
You can contact me via the <b>Feedback</b> form accessible by clicking the <b>Feedback</b> link located in the footer.
</p>
