<% provide(:title, 'Home') %>
<div class="center jumbotron">
<h1>Welcome to ProofreadIt!</h1>
<h2>
Welcome to <b>ProofreadIt!</b>. It is a helpful tool for writers that allow them to cooperate and help each other with proofreading their work.
</h2>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>      
