<% provide(:title, 'Terms & Conditions') %>
<h1>Terms &amp; Conditions</h1>
<p>
<b>Introduction</b>
<br/><br/>
These terms and conditions govern your use of this website. By using this website, you accept these terms and conditions in full. 
If you disagree with these terms and conditions or any part of these terms and conditions, you must not use this website. 
You must be at least 13 years of age to use this website.  By using this website and by agreeing to these terms and conditions, 
you warrant and represent that you are at least 13 years of age.
<br/><br/>
This website uses cookies.  By using this website and agreeing to these terms and conditions, you consent to use of cookies.
<br/><br/>

<b>License</b>
<br/><br/>
The code, assets, and functionality provided by the website is the sole property of Andrey Shevyakov. It is restricted to copy or modify the website content in 
any manner. Under any conditions, the texts submitted remain the intellectual property of the submitting party.
<br/><br/>
The website is provided "as is" without any representations or warranties, express or implied.
<br/><br/>

<b>Acceptable Use</b>
<br/><br/>
You must not use this website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.
<br/><br/>
You must not use this website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software.
<br/><br/>
You must not conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to this website without Andrey Shevyakov's express written consent.
<br/><br/>
You must not use this website to transmit or send unsolicited commercial communications.
<br/><br/>

<b>Restricted Access</b>
<br/><br/>
Your user account may be disabled without notice or explanation.
<br/><br/>

<b>Limitations of Liability</b>
<br/><br/>
Andrey Shevyakov is not responsible for any consequences of using the website.
<br/><br/>

<b>Variation</b>
<br/><br/>
These terms and conditions may be revised. Revised terms and conditions will apply to the use of this website from the date of the publication of the revised terms and conditions. Please check this page regularly to ensure you are familiar with the current version.
</br></br>

<b>Ownership</b>
<br/><br/>
The website's ownership may be transferred without notice or explanation.
<br/><br/>

<b>Credit</b>
<br/><br/>
This document was created using a modified Contractology template available at <a href="http://www.freenetlaw.com">http://www.freenetlaw.com</a>.<br/>
This website utilises jQuery highlightTextarea available at <a href="http://mistic100.github.io/jquery-highlighttextarea/">http://mistic100.github.io/jquery-highlighttextarea/</a>, developed by Damien Sorel aka mistic100.

</p>
