<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
<div class="col-md-6 col-md-offset-3">
<%= form_for(@user) do |f| %>
<%= render 'shared/error_messages' %>   
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :description %>
<%= f.text_field :description %>

<%= f.label "Date of Birth" %>
<%= f.date_field :dob, value: Date.today %>

<div id="input-radio">
<%= f.label "Gender" %><br/>
<%= f.label "Male" %>
<%= f.radio_button :gender, "Male", checked: true %> 
<%= f.label "Female" %>
<%= f.radio_button :gender, "Female", checked: false %> 
</div>

<%= f.label :email %>
<%= f.email_field :email %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.label :password_confirmation, "Confirmation" %>
<%= f.password_field :password_confirmation %>

<%= f.submit "Create my account", class: "btn btn-primary" %>
<% end %>
</div>
</div>

