<% provide(:title, @user.name) %>
<div class="row">
<aside class="col-md-8">
<section class="user_info">
<h1 style="margin-bottom: 15px;"><%= @user.name %></h1>
<% if @user.banned == nil %>
<% if @user.tokens != 0 %>
<%= link_to "Add Text", new_text_path, class: "btn btn-lg btn-primary" %>
<%= link_to "Proofread Text", search_by_tag_path, class: "btn btn-lg btn-primary" %>
<% else %>
<%= link_to "Add Text", new_text_path, class: "btn btn-lg btn-primary", disabled: "disabled" %>
<%= link_to "Proofread Text", search_by_tag_path, class: "btn btn-lg btn-primary blue-highlight" %>
<% end %>
<span id="sub-info">Submission Tokens Left: <%= @user.tokens %> <% if @user.tokens == 0 %>(Proofread Others' Texts To Earn Some Tokens!)<% end %></span>

<%= form_tag(search_path, :method => "get", id: "search-form") do %>
<div class="input-append">
<%= text_field_tag :search, params[:search], id: "search-bar", placeholder: "Search Texts" %>
<button class="btn" type="submit"><i class="glyphicon glyphicon-search"></i></button>
</div>
<% end %>
</aside>
</section>
</div>
<div class="row">
<h1>Submitted Texts</h1>
<ul id="texts-list">
<% @texts.each do |t| %>
<li><%= link_to t.content[0..15] + "...", t, class: "btn btn-primary"%></li>
<% end %>
</ul>
</div>
<% else %>
</aside>
</section>
</div>
<div class="row">
<h2>Due to the unsatisfactory proofreading quality, you are temporarily banned until <%= @user.banned + 7.days %>.</h2>
</div>
<% end %>

