<% provide(:title, "Search By Tag") %>
<h1>Tags</h1>
<ul id="tags-list">
<% @tags.each do |t| %>
<% if t.name.length > 60 %>
<li><%= link_to t.name[0..60] + "...", list_texts_path(tagname: t.name), class: "btn btn-primary" %></li>
<% else %>
<li><%= link_to t.name, list_texts_path(tagname: t.name), class: "btn btn-primary" %></li>
<% end %>
<% end %>
</ul>

