<% provide(:title, 'Leave Feedback') %>
<h1>Leave Feedback</h1>

<div class="row">
<div class="col-md-6 col-md-offset-3">
<%= form_for @feedback do |f| %>
<%= render 'shared/error_messages_feedback' %>   

<%= f.label "Feedback" %>
<%= f.text_area :desc, size: "24x6" %>

<% if logged_in? == false %>
<%= f.label :email %>
<%= f.email_field :email %>
<% else %>
<%= f.hidden_field :email, :value => User.find(current_user).email %>
<% end %>

<%= f.submit("Submit", class: "btn btn-primary")%>
<% end %>
</div>
</div>
