@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing 
{
	-moz-box-sizing:    border-box;
	-webkit-box-sizing: border-box;
	box-sizing:         border-box;
}

ul { list-style-type: none; }

.jumbotron { background: white; }

.debug_dump 
{
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

body 
{ 
	font-family: "Palatino Linotype";
	padding-top: 60px; 
}

section { overflow: auto; }

textarea { resize: vertical; }

ul#texts-list li { margin-bottom: 10px; }

.center { text-align: center; }

.center h1 { margin-bottom: 10px; }

h1, h2, h3, h4, h5, h6 { line-height: 1; }

h1 
{
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

.helph { font-size: 2em; letter-spacing: -2px; margin-bottom: 15px; }
.help-p { margin-bottom: 30px; }

h2 
{
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #777;
}

p 
{
	font-size: 1.1em;
	line-height: 1.7em;
}

#logo 
{
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
}

#logo:hover, #logo:visited, #logo:active, #logo:link
{
	color: #fff;
	text-decoration: none;
}

footer 
{
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}

footer a, footer a:visited, footer a:active { color: #555; }
footer a:hover { color: #222; }

footer small { float: left; }

footer ul 
{
	float: right;
	list-style: none;
}

footer ul li 
{
	float: left;
	margin-left: 15px;
}

aside 
{
	section.user_info { margin-top: 20px; }
	
	section 
	{
		padding: 10px 0;
		margin-top: 20px;
		&:first-child {
		border: 0;
		padding-top: 0;
	}
	
		span 
		{
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		
		h1 
		{
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}
}

.gravatar 
{
	float: left;
	margin-right: 10px;
}
.gravatar_edit { margin-top: 15px; }

input, textarea, select, .uneditable-input 
{
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	text-align: left;
	@include box_sizing;
}

#input-radio { margin-bottom: 10px; }		

#input-radio input 
{
	width: 2%;
	margin-right: 2%;
}

input { height: auto !important; }

#error_explanation 
{
	color: red;
	
	ul 
	{
		color: red;
		margin: 0 0 30px 0;
	}
}

.field_with_errors 
{
	@extend .has-error;
	.form-control { color: $state-danger-text; }
}

#text-manipulation { margin-bottom: 15px; display: table; width: 100%; }
#text-manipulation .btn { display: table-cell; border: 1px solid white; }
#text-manipulation .btn { font-size: 92%; }
#text-manipulation a:nth-child(1) { border-left: none; }
#text-manipulation a:nth-child(3) { border-right: none; }

ul#tags-list .btn-primary { margin-bottom: 7px; }

.alert { font-size: 125%; }

.alert-notice { background: #C5DBBD; }

.alert-error 
{
	background-color: #F2DEDE;
	border-color: #EBCCD1;
	color: #A94442;
}

#delete-btn, #delete-btn:visited, #delete-btn:focus
{ 
	margin-bottom: 15px;
	background: #D00000 ;
	color: white;
	width: 100%; 
}

#delete-btn:hover, #delete-btn:active
{
	background: #880000 
}

#lock-btn
{
	margin-bottom: 15px;
	width: 100%; 
}

.btn-primary, .btn-primary[disabled="disabled"], .btn-primary:visited, .btn-primary:active, .btn-primary:focus
{
	background: #1299A5;
	border: #1299A5;
}

.btn-primary:hover
{
	background: #0F8189;
	border: #0F8189;
}

#comment-header
{
	font-weight: bold;
	margin-top: 30px;
}

#comment-area .alert
{
	font-size: 110%;
	margin-bottom: 15px;
	margin-top: 15px;
	padding: 3px;
}

.np { padding: 0; }

#leave-comment { margin-top: 30px; }

#highlight-explanations { display: none; margin-bottom: 15px; }

#sub-info 
{ 
	margin-top: 15px; 
	font-size: 125%;
}

.blue-highlight
{
	box-shadow: 0 0 10px #5170cc;
}

.star
{
	width: 32px;
	height: 32px;
	background-image: url(image-path('star_selected_glow.png'));
}

.btn-tags-text { margin: 5px; }

#search-form { margin-top: 15px; }

#search-bar 
{ 
	width: 75%; 
	padding: 6px 12px;
}

.tags-entry:hover .tags-help { display: inline-block; }
.tags-help { margin-bottom: 15px; display: none; }


