<% provide(:title, "Texts By Tag") %>
<H1 style="word-wrap: break-word;">Tag <%= @tag%></h1>
<ul>
<% @result.each do |r| %>
<li><%= link_to r.content[0..15] + "... by " + User.find(r.author).name, r, class: "btn btn-primary"%></li><br/><br/><br/>
<% end %>
</ul>

