<% provide(:title, 'Submit New Text') %>
<h1>Add Text</h1>

<div class="row">
<div class="col-md-6 col-md-offset-3">
<%= form_for @text do |f| %>
<%= render 'shared/error_messages_text' %>   

<div class="tags-entry">
<%= f.label :tags %>
<%= f.text_field :tags %>

<div class="tags-help">
<span>Separate tags with commas.</span>
<br/>
</div>
</div>

<%= f.label :content %>
<%= f.text_area :content, size: "24x6" %>

<%= f.submit("Submit", class: "btn btn-primary")%>
<% end %>
</div>
</div>

