<% provide(:title, "Text Search") %>
<h1>Search Results</h1>
<%= form_tag(search_path, :method => "get", id: "search-form") do %>
<div class="input-append">
<%= text_field_tag :search, params[:search], id: "search-bar", value: "#{params[:search]}" %>
<button class="btn" type="submit"><i class="glyphicon glyphicon-search"></i></button>
</div>
<% end %>
<% if @results.length != 0 %>
<ul id="texts-list" class="np">
<% @results.each do |t| %>
<li><%= link_to t.corrected_content[0..15] + " by " + User.find(t.author).name, t, class: "btn btn-primary" %></li>
<% end %>
</ul>
<% else %>
<p>Nothing was found.</p>
<% end %>
