<% provide(:title, "Text Correction") %>
<% @reader = User.find(@text.proofreader).name rescue "No One"%>
<%= javascript_include_tag 'jquery.highlighttextarea.min' %>
<H1>Text Of <%= User.find(@text.author).name%></H1>
<H1>Last Corrected By <%= @reader%></H1>
<div class="row">
<div class="col-md-6 col-md-offset-3">
<%= form_for(@text) do |f| %>
<span style="display: none" id="text-id-val"><%=@text.id%></span>
<%= render 'shared/error_messages_text' %>
<%= f.label "Text", id:"content"%>

<% if @text.locked == false %>
<%= f.text_area :corrected_content, rows: 10 %>
<% else %>
<%= f.text_area :corrected_content, rows: 10, disabled: "disabled" %>
<% end %>

<textarea id="orig", style="display: none;"><%=@text.content%></textarea>
<textarea id="corr", style="display: none;"><%=@text.corrected_content%></textarea>
<textarea id="curc", style="display:none;"></textarea>

<% if browser.mobile? %>
<% else %>
<div id="text-manipulation">
<a class="btn btn-info" onclick="show_original_text($('#orig').text())" id="show-text">Show Original Text</a>
<a class="btn btn-info" onclick="highlight_differences($('#corr').text(), $('#orig').text())" id="highlight-text" data-state="off">Highlight Corrections Made</a>
<a class="btn btn-info" onclick="undo_current_changes($('#corr').val())" id="undo-text">Undo Current Changes</a>
</div>

<div id="highlight-explanations">
<span style="color:#76EE00;">Line Added</span>
<span style="color:orange;">Line Changed</span>
<span style="color:red;">Line Removed</span>
</div>
<% end %>

<% if current_user.id == @text.author %>
<% if @text.locked == false %>
<%= link_to "Lock Editing", lock_text_path(:id => @text.id), class: "btn btn-primary", id: "lock-btn" %>
<% else %>
<%= link_to "Allow Editing", unlock_text_path(:id => @text.id), class: "btn btn-primary", id: "lock-btn" %>
<% end %>
<%= link_to "Delete Text", remove_text_path(:id => @text.id), class: "btn", id: "delete-btn", method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<span style="display:none;" id="avg-val"><%=@avg%></span>
<span style="display:none;" id="star-selected-path"><%= asset_path 'star_selected.png' %></span>
<span style="display:none;" id="star-selected-glow-path"><%= asset_path 'star_selected_glow.png' %></span>
<span style="display:none;" id="star-unselected-path"><%= asset_path 'star_unselected.png' %></span>
<div style="margin-bottom: 15px, overflow: auto;" id="tags-desc">Tags: 
<% @text.tags.split(",").each do |t| %>
<% if t.length > 10 %>
<%= link_to t[0..10] + "...", list_texts_path(tagname: t), class: "btn btn-primary btn-small" %>
<% else %>
<%= link_to t, list_texts_path(tagname: t), class: "btn btn-primary btn-tags-text" %>
<% end %>
<% end %>
</div>
<div style="margin-bottom: 15px" id="rating-bar">Rating:
<% for i in 1..5 %>
<% if i <= @avg %>
<%= image_tag 'star_selected.png', class: "star rated" %>
<% else %>
<%= image_tag 'star_unselected.png', class: "star unrated" %>
<% end %>
<% end %>
</div>
<%= f.submit "Save Changes", class: "btn btn-primary", id: "text-change-btn", disabled: "disabled"%>
<% end %>
<% if current_user.id == @text.author and @text.proofread_rated == false %>
<% if @reader != "No One" %>
<div style="margin-top: 15px"><span>Are you satisfied with the work done by <%= @reader %>?: <%= link_to "Yes", good_show_path(:reader_id => @text.proofreader, :text_id => @text.id)%> | <%= link_to "No", bad_show_path(:reader_id => @text.proofreader, :text_id => @text.id) %></span></div>
<% end %>
<% end %>

<div id="comment-area">
<div id="comment-header">Comments</div>

<% flash.each do |message_type, message| %> 
<% if message == "Can't Leave Blank Comments" or message == "Commented" %>
<div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<% end %>

<% if @comments.length != 0 %>
<ul id="comments-list" class="np">
<% @comments.each do |c| %>
<li>"<%= c.content %>" - <%= User.find(c.commenter).name %>, <%= c.created_at.strftime("%Y-%m-%d")%></li>
<% end %>
</ul>
<% else %>
Be the first to leave a comment!
<% end %>

</div>

<div id="leave-comment">
<% @comment = Comment.new %>
<%= form_for @comment, :url => leave_comment_path do |f| %>
<%= f.label "Comment" %>
<%= f.text_area :content%>
<%= f.hidden_field :ctext, :value => @text.id %>
<%= f.hidden_field :commenter, :value => current_user.id %>

<%= f.submit "Leave comment", class: "btn btn-primary" %>
<%end%>
</div>
</div>
</div>

<%=javascript_include_tag "inline/rating_change_listener"%>
<%=javascript_include_tag "inline/textarea_change_listener"%>
