<footer class="footer">
<small>
<b><i>ProofreadIt!&copy;</i></b> By Andrey Shevyakov
</small>
<nav>
<ul>
<li><%= link_to "About", about_path %></li>
<li><%= link_to "Terms & Conditions", tc_path %></li>
<li><%= link_to "Feedback", leave_feedback_path%></li>
</ul>
</nav>
</footer>
