<!DOCTYPE html>
<html>
<head>
<title>ProofreadIt! | <%= yield(:title) %></title>
<%= stylesheet_link_tag 'application', media: 'all',
'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
</script>
<![endif]-->
</head>
<body>
<%= render 'layouts/header' %>
<div class="container">
<% flash.each do |message_type, message| %>    
<% if message != "Can't Leave Blank Comments" and message != "Commented" %>
<div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<% end %>                                      
<%= yield %>
<%= render 'layouts/footer' %>
</div>
</body>
</html>
